
.app__tittle{
  padding: 40px;
}

.app__header-container{
  width: 80%;
  margin: auto;
}
.app__input{
  
  padding: 5px;
  width: 100%;
  
  
}


.app__list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.app__list-item{
  border: 1px solid black;
  margin: 20px auto;
  padding: 20px;
  min-width: 180px;
}


.pokemon__types{
  list-style: none;
  display: inline;
  padding-right: 4px;
}