@import '../../index.scss';

.list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
  
  .list-item{
    border: 1px solid $color-border;
    margin: 20px;
    // min-width: 180px;
    width: 220px;
    height: 220px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.08), 
    0 2px 4px rgba(0,0,0,0.10);
  
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
  }
  &:active{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
  }
}

.pokemon__container{
    height: 100%;
}

.pokemon__bg{
    background-color: $poke-bg;
    display: flex;
    justify-content: center;
    position: relative;
    height: 60%;
}

.pokemon__id{
    position: absolute;
    top: 80%;
    left: 0%;
    padding: 2px 8px;
    background-color: $poke-id;
    color: $poke-id-letter;
}

.pokemon__info{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
    padding-left: 15px;
}
  .pokemon__name{
    font-family: $font-main;
    font-size: $font-main-size;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  // .pokemon__types{
  //   // padding-left: 15px;
  // }

  .pokemon__type{
    text-transform: uppercase;
    flex-wrap: wrap;
    list-style: none;
    display: inline;
    padding: 3px;
    margin: 0 3px 3px 3px;
    border: 0.04rem solid $poke-type;
    border-radius: 8px;
    display: inline-block;
    color: $poke-type;
  }

